@import url("https://fonts.googleapis.com/css?family=Archivo:700");
@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-UI/Inter-UI-Regular.woff2") format("woff2"), url("../fonts/inter-UI/Inter-UI-Regular.woff") format("woff"); }

/* General */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0; }

section {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 60px;
  padding-left: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.section-overlay {
  position: relative; }
  .section-overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .5;
    z-index: 1; }

h2 {
  font-family: "Archivo", sans-serif;
  font-size: 100px; }

.lead {
  font-family: "Inter UI";
  font-size: 64px;
  color: #17324F; }

/* Desktop Navigation */
.desktop-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #17324F; }
  .desktop-menu li {
    float: left; }
  .desktop-menu li a, .desktop-menu .dropbtn {
    display: inline-block;
    padding: 14px 16px;
    font-family: "Inter UI";
    color: white;
    text-align: center;
    text-decoration: none; }
  .desktop-menu li a:hover, .desktop-menu .nav-dropdown:hover .dropbtn {
    background: red; }
  .desktop-menu li.nav-dropdown {
    display: inline-block; }
  .desktop-menu .nav-dropdown-content {
    display: none;
    position: absolute;
    background: yellow;
    min-width: 160px;
    z-index: 1; }
    .desktop-menu .nav-dropdown-content a {
      display: block;
      text-align: left;
      padding: 12px 16px;
      color: black;
      text-decoration: none; }
      .desktop-menu .nav-dropdown-content a:hover {
        background: orange; }
  .desktop-menu .nav-dropdown:hover .nav-dropdown-content {
    display: block; }

/* Home Section */
.home-section .home-section-info {
  display: inline-block;
  padding-left: 25px;
  vertical-align: 60px; }
  .home-section .home-section-info .lead {
    padding-top: 25px; }
    .home-section .home-section-info .lead p {
      margin: 0;
      font-size: 32px;
      line-height: 1.3; }

img.home-section-img {
  width: 50%; }

img.crispSolutions-logo {
  width: 300px;
  height: auto; }

/* Who We Are */
.about-section {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 75%;
  color: white;
  z-index: 2;
  text-align: center; }

.about-section-descriptions {
  font-family: "Inter UI";
  font-size: 36px; }

.about-section-knowledge {
  background-image: url("../img/about-knowledge.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.about-section-communication {
  background-image: url("../img/about-communication.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.about-section-partnership {
  background-image: url("../img/partner-handshake.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

/* What We Do */
.what-we-do-section {
  background-image: url("../img/what-we-do.png");
  background-size: cover;
  background-repeat: no-repeat; }

.what-we-do-section-container {
  position: relative;
  color: white;
  z-index: 2; }
  .what-we-do-section-container h2 {
    text-align: center;
    margin-bottom: 15px; }

.what-we-do-section-content {
  background: rgba(23, 50, 79, 0.8);
  border-radius: 15px; }
  .what-we-do-section-content img, .what-we-do-section-content ul {
    display: inline-block;
    vertical-align: middle;
    opacity: 1; }
  .what-we-do-section-content .what-we-do-section-content-list {
    position: relative;
    list-style-type: none; }
    .what-we-do-section-content .what-we-do-section-content-list li {
      padding: 15px;
      font-family: "Inter UI";
      font-size: 26px; }
      .what-we-do-section-content .what-we-do-section-content-list li:hover {
        cursor: pointer;
        background: #17324F;
        border-radius: 15px; }
      .what-we-do-section-content .what-we-do-section-content-list li:before {
        content: "";
        position: relative;
        top: 7px;
        right: 5px;
        width: 32px;
        height: 32px;
        display: inline-block;
        background: url("../img/right-arrow.png") CENTER NO-REPEAT;
        background-size: contain; }

/* Partners & Preferred Vendors */
/* Get In Touch */
